@charset "utf-8";

/*-------- Reset style */

html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

body {
    -webkit-hyphens: auto;
    -webkit-text-size-adjust: 100%;
    color: #484848;
    font: 16px Roboto, 'Droid Sans', 'Droid Sans Fallback', 'Heiti SC', 'Hiragino Sans GB', Tahoma, Arial, 'Microsoft YaHei', sans-serif;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, dl, dt, dd, fieldset, form, label, legend, button, table, caption, tr, th, td,
header, footer, nav, figure, article, section, audio, video, hgroup {
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    border: none;
}

ol, ul {
    list-style-type: none;
}

blockquote:before, 
blockquote:after {
    content: '';
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
}

img {
    border: none;
    vertical-align: bottom;
}

a, input, textarea, button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

::selection {
    background: #9daeb9;
    color: #fff;
}